@import './variables';

.stars {
  display: flex;
  gap: $star-gap;

  &__item {
    width: $star-size;
    height: $star-size;
    background-image: url('../images/star.svg');
    background-size: contain;
    background-repeat: no-repeat;
  }

  &--0 &__item {
    background-image: url('../images/star-empty.svg');
  }

  &--1 &__item:nth-child(n + 2) {
    background-image: url('../images/star-empty.svg');
  }

  &--2 &__item:nth-child(n + 3) {
    background-image: url('../images/star-empty.svg');
  }

  &--3 &__item:nth-child(n + 4) {
    background-image: url('../images/star-empty.svg');
  }

  &--4 &__item:nth-child(n + 5) {
    background-image: url('../images/star-empty.svg');
  }
}
